
<h1 class="cufon">About <em>(The Project)</em></h1>

<div style="margin:0 200px;">
  <p>
    I think there is an opportunity to sell Facebook page customization
    to businesses around your community (to start).
    The "small local-based business" market is largely untapped because
    it is <em>hard</em> to target efficiently. 
    As a freelancer you can charge for your time so that's a good place to start.
  </p>

  <p>
    Aplanofattack is a service that takes care of all the infrastructure
    needed to deploy a Facebook page.
    Ok it isn't brain surgery but time is money so why bother right?
  </p>
    
  <h3>We'll help you in a few core areas.</h3>
    
  <div style="margin:0 20px">
       
    <h4 class="colorize">Coding:</h4>
    <p>
      No need to learn FBML, XFBML, FBJS, FQL or the Facebook open-social API.
      <br/>You can code simple pages with advanced functionality (via installable widgets) in
      basic XHTML and CSS.
      <br/>
      Most Facebook pages are customized simply by serving a huge splash page image.
      You can probably earn $500 by designing an image in photoshop for your local
      Yoga studio and deploying it to their Facebook Fan page.
    </p>
    <h4 class="colorize">Testing and Collaborating: </h4>
    <p>
      The ability to render code in the Facebook environment 
      to ensure its functionality, before actually deploying to the live tab.
      <br/>
      This is helpful because you don't have to create an application
      to test out some designs for clients. You can also link them to the preview
      to collaborate.
    <p>  
    <h4 class="colorize">Deploying:</h4>
    <p>
      No need to create custom applications or rely on copy and pasting
      code over and over again onto multiple client pages.
      <br/>Simply install the aplanofattack application to the page, install the tab,
      and save your page id to the aplanofattack page you want deployed.
      Aplanofattack serves a compressed, cached page to the tab.
    </p> 
    <h4 class="colorize">Managing:</h4>
    <p>
      Your client's Facebook pages should be centrally managed so that updates
      and changes can be handled quickly and effeciently.
      <br/>Avoid the nightmare of having to manage custom code, apps, and deploys
      for multiple clients.
    <p>
  </div>  

  <h3>Sound Good?</h3>    
  <p>
    Please <a href="<%= new_account_path %>">try it out</a> and tell me what you think.
    I am eager to hear your feedback and ideas toward making aplanofattack suit your needs better.
    <br/>You can reach me at <a href="mailto:plusjade@gmail.com">plusjade@gmail.com</a>
  </p>
  <p>
    - Thank you!
    <br/>- Jade
  </p>
</div>

<div style="text-align:center;">
    About me? You sure?
    <br/>...
    <br/><a href="http://plusjade.com">http://plusjade.com</a>
</div>

