
<div style="width:900px; margin:auto; margin-bottom:40px; overflow:hidden;">

  <div style="float:left;width:350px;">
    <h1 class="cufon" style=" text-align:right">Custom Facebook<br/>Pages <em>Made Easy.</em></h1>

    <div id="question" style="width:auto;text-align:right;">
      <p>
      Aplanofattack converts your HTML+CSS layouts<br/>
      to Facebook-compatable code that <em>just works</em>.
      </p>
      <p>
        Easily add Facebook landing pages to your<br/>
         design services and rake in the dough <em style="color:#679f3c">$$$!</em>
      </p>
      <p>  
        <span style="background:#ffffcc;">
          Try now, no signup required.
        </span>
      </p>
      <div style="text-align:right;">
        <a class="button_next" href="<%=new_account_path%>" >Launch Free Page Creator</a>
      </div>
      <!--
      Create slideshows, image galleries, coupon offers, and web forms that work in Facebook.
      -->
    </div>
  </div>
  
  <div id="pics">
    <div class="pic"></div>
  </div> 
</div>


<div id="learn-more" class="container">

  <h1 class="cufon" style="margin-bottom:40px;">Learn More</h1>
  
  <div class="left">
    <h2 class="cufon">Slideshows<br/>image galleries<br/>web forms</h2>
    <h2 class="cufon">Instant<br/>FB Preview</h2>
    <h2 class="cufon">Set it and<br/>Forget it</h2>
    <h2 class="cufon">Dynamic<br/>Updating</h2>
  </div>
  
  <div class="right">
    <h2 class="cufon">Add Cool Widgets</h2>
    <p>
      Install and customize "advanced functionality" widgets
      that let you include slideshows, galleries, forms
      into your page without messing with Facebook javascript (FBJS).
      Fully stylize the rendered code with CSS.
    </p>
  
    <h2 class="cufon">Test and Collaborate</h2>
    <p>
      Preview exactly how your code renders and functions in facebook
      with one click. You don't even need a Facebook account!
      <br/>
      Collaborate with your clients by linking them to a live preview page
      running in Facebook. Update on-demand to your client's liking.
    </p>
    
    <h2 class="cufon">Deploy Like a Pro</h2>
    <p>
      Instantly serve your client's pages with our Facebook
      application. Simply install the app and add the tab.
      Set the Facebook page/profile id for the page you want to serve
      and we send a minified, fully cached version.
    </p>

    <h2 class="cufon">Manage Multiple Pages</h2>
    <p>
      Maintain complete control over what and how pages are served to your clients' tabs.
      Update your clients' landing page promotions quickly and painlessly
      all from one central admin.
      "Unpublish" your pages while you make updates, test and preview your changes,
      then "Publish" and done!
    </p>
  </div>
</div>    

<div id="competitors" class="container">
  <h1 class="cufon" style="margin-bottom:15px;">Our Competitors</h1> 
  <div style="margin:auto; margin-bottom:40px;  text-align:center; width:500px;">
    I want you to use the best tool for the job so here's a list of similiar services, what they offer, and why
    I think aplanofattack is better in certain aspects. If you'd
    like to give me feedback on how to improve aplanofattack please
    email me @ <a href="mailto:plusjade@gmail.com">plusjade@gmail.com</a>!
  </div>
  <div class="left">
    <h2 class="cufon">TigerLily</h2>
    <h2 class="cufon">PageModo</h2>
    <h2 class="cufon">Static520</h2>
    <h2 class="cufon">TabSite</h2> <!-- http://www.facebooktabsite.com/ -->
    <h2 class="cufon">RootMusic</h2>
  </div>
  <div class="right">
  
  </div>
</div>


<style type="text/css">

.container {
width:900px; 
margin:auto;
margin-bottom:40px;
overflow:hidden;
}
.container h1{
  margin-bottom:40px;
}
.container .left{
  float:left;width:350px;
}
.container .left h2 {
  text-align:right; 
  margin-bottom:80px;
  color:#bbb !important;
  }
.container .left p {
  text-align:right;
  }
  
.container .right{
  width:500px; float:right; min-height:400px;
}
.container .right h2 {margin-bottom:10px;}

#learn-more .left h2 {display:none;}
</style>

<!--
<a href="http://apps.facebook.com/aplanofattack/">Facebook Application Page</a>

<br/><br/>
<a href="http://www.facebook.com/pages/tastyink/131864086829765?v=app_129421017095211">Sample Slideshow Page</a>

-->
