
<h1 class="cufon">Custom <em>Facebook Pages</em> Made Easy.</h1>

<div id="question">
Are you a designer looking to add Facebook page customization to your services?
<br/>
Aplanofattack converts your XHTML+CSS layouts to Facebook compatable code that <em>just works</em>.

<!--
Create slideshows, image galleries, coupon offers, and web forms that work in Facebook.

<ul>
  <li>Test your designs in Facebook immediately.</li>
  
</ul>

Use aplanofattack to deploy hassle free and concentrate on what matters the most; 
beautiful, seamless design.
-->
<!--
  Customers will pay you <em style="color:#679f3c">$200-$500</em> for custom-designed Facebook pages, 
  and you can build them in minutes with this tool.
-->
</div>

<div id="narrow">
  <div id="description">
    <div id="what">
      <b>A plan of attack</b> takes the hassle out of 
      <span>creating</span>, <span>deploying</span>, and <span>managing</span> 
      custom pages for Facebook tabs
      so you can focus on what really matters to your clients:
      <h1 class="cufon">aesthetics.</h1>
    </div>

    <div style="text-align:center; margin:40px 0">
      <a class="button_next" href="<%=new_account_path%>" >Launch Free Page Creator Now</a>
      <p style="margin-top:15px; color:#333;">
        Free, no signup required, deploy real code <b>to Facebook</b>.
      </p>
    </div>
    
  </div>  

  <div id="pics">
    <div class="pic"></div>
  </div> 
  
  <br/ style="clear:both;">
    <h2 id="benefits-header">Benefits at a Glance</h2>
    
    <h3>Create Pages Quickly:</h3>
    <ul>
      <li>Build pages in XHTML and CSS and test them in Facebook instantly.
        No need to create and configure an application.
      </li>
      <li>Forget about learning XFBML, FBML, FBJS, FQL.
        <br/>Our widget system allows you to create advanced functionality
        like slideshows without struggling with the Facebook API.
      </li>
    </ul>
    
    <h3>Deploy Pages Effortlessly.</h3>
    <ul>
      <li>
        Super simple for clients. Just 1)install app. 2)Add tab.
        No fiddling with huge blocks of code.
      </li>
      <li>
        Once the app is installed, we serve a minified, cached version of your page
        directly to Facebook.
      </li>
      <li>
        Update your content in real time from our admin panel, or "unpublish" while you work.
      </li>
      <li>
        We keep API references up to date so you can set it and forget it.
      </li>
    </ul>  
    
    <h3>Manage Pages Centrally.</h3>
    <ul>
      <li>
        Manage all your clients' Facebook pages from one central account.
        No need to install one-off applications or copy and paste code to each tab.
      </li>
      <li>
        Update a client's promotion or add new content quickly and easily.
      </li>
      <li>
        Save multiple versions of the same page to test changes or rollback to an old promotion.
      </li>
    </ul>
  </div>  
  
</div>
    

<!--
<a href="http://apps.facebook.com/aplanofattack/">Facebook Application Page</a>

<br/><br/>
<a href="http://www.facebook.com/pages/tastyink/131864086829765?v=app_129421017095211">Sample Slideshow Page</a>

-->
