
<p>
  Hello Jello! A plan of attack is online,
  <br/>but we can't find a page that belongs to
  <br/><b>Facebook Profile ID: <%= @id %></b>
  <br/>Login to your account and ensure your page
  <br/>references the ID noted above.
</p>
Thanks!
