<% if !@to_facebook %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Preview</title>
  <%= javascript_include_tag "jquery-1.4.2.min"%>
  <style type="text/css">
    /* default fb style */
    body{ color: #333333; font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  }
    a {color:#3b5998}
  </style>
</head>
<body>
  <small style="color:#555; display:block;text-align:center;">*The dotted line is the max width of the Facebook tab. Only shows in preview mode.*</small>
  <div style="width: 760px; margin:auto; border:1px dashed #ccc;overflow:hidden;">
<% end %>

<% if !@page.css.nil? %>
  <style type="text/css"><%= @page.css %></style>
<% end %>

  <%= raw @page.body %>

<% if !@to_facebook %>
  </div>
</body>
</html>
<% end %>
